@font-face {
    font-family: 'SF';
    src: url('./assets/fonts/SF/Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'SF';
    src: url('./assets/fonts/SF/Regular.woff2');
    font-weight: 400;
}

